@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 10rem;
  position: sticky;
  z-index: 999;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.fullNav {
  display: flex;
  justify-content: center;
  gap: 10rem;
  background-color: white;
}

.nav1,
.nav2 {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav2 {
  gap: 1rem;
}